# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-ai-vision == 0.15.1b1
azure-core == 1.29.4
azure-cosmos == 4.5.1
azure-functions
azure-search-documents == 11.4.0b6
azure-storage-blob == 12.18.3
azure-storage-queue == 12.7.3
azure-ai-formrecognizer == 3.3.1
beautifulsoup4 == 4.12.2
lxml == 4.9.3
mammoth == 1.6.0
nltk == 3.8.1
openpyxl == 3.1.2
pandas == 2.1.0
pyoo == 1.4
tenacity == 8.2.3
tiktoken == 0.5.1
unstructured[csv,doc,docx,md,msg,ppt,pptx,xlsx] == 0.10.23