# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-ai-formrecognizer == 3.3.2
azure-ai-vision == 0.15.1b1
azure-core == 1.29.6
azure-cosmos == 4.5.1
azure-functions == 1.17.0
azure-search-documents == 11.4.0b11
azure-storage-blob == 12.19.0
azure-storage-queue == 12.9.0
beautifulsoup4 == 4.12.2
lxml == 4.9.3
mammoth == 1.6.0
minify-html == 0.15.0
openpyxl == 3.1.2
nltk == 3.8.1
pandas == 2.1.4
pyoo == 1.4
tenacity == 8.2.3
tiktoken == 0.5.2
unstructured[csv,doc,docx,email,html,md,msg,ppt,pptx,text,xlsx,xml] == 0.12.0