{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "environmentName": {
      "value": "${WORKSPACE}"
    },
    "location": {
      "value": "${LOCATION}"
    },
    "randomString": {
      "value": "${RANDOM_STRING}"
    },
    "useExistingAOAIService": {
      "value": ${USE_EXISTING_AOAI}
    },
    "buildNumber": {
      "value": "${BUILD_NUMBER}"
    }
  }
}
