.rootClass {
    max-width: 800px;
}

.rootClassFilter {
    max-width: 250px;
}

.tagPicker {
    background-color: white;
}

.tagArea {
    padding-bottom: 20px;
    max-height: 60vh;
    overflow-y: auto;
}

.tagSelection {
    padding-bottom: 5px;
    justify-content: left;
    text-align: left;
    height: 90px;
}

.addIcon {
    margin-left: 5px;
}