
.rootClass {
    max-width: 800px;
}

.rootClassFilter {
    max-width: 250px;
}

.tagPicker {
    background-color: white;
}

.tagArea {
    padding-bottom: 20px;
  }

.tagSelection {
    padding-bottom: 5px;
    justify-content: left;
    text-align: left;
    height: 90px;
 }  