aiohttp == 3.8.6
azure-cosmos == 4.5.1
azure-identity == 1.15.0
azure-mgmt-cognitiveservices == 13.5.0
azure-monitor-opentelemetry
azure-search-documents == 11.4.0
azure-storage-blob == 12.19.0
beautifulsoup4 == 4.12.2
Flask == 3.0.0
Flask-Session==0.5.0
langchain >= 0.0.157
msal == 1.25.0
openai[datalib] == 1.3.7
opencensus-ext-azure == 1.1.12
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-requests
python-docx-ng == 0.9.7
requests-oauthlib == 1.3.1
tiktoken == 0.5.2