.contentArea {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.buttonContainer {
  display: flex; 
  justify-content: center; 
  margin-top: 10px;
}

.acceptButton {
  width: 10%;
  margin-right: 10px;
}

.notAcceptButton {
  width: 10%;
}